
C\#_Vitor/Console/.vs/Console/FileContentIndex/983b1fbe-dd46-4cd6-89ba-58d87114f28e.vsidx
C\#_Vitor/Console/.vs/Console/FileContentIndex/a2c80e09-a79f-4309-9594-de9187cb3b9c.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/f8306905-4f57-4fe7-b515-a485e222bd82.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/acb7b1ca-3dec-4a15-a9db-dfa8b0fa2398.vsidx
