
C\#_Vitor/Console/.vs/Console/FileContentIndex/983b1fbe-dd46-4cd6-89ba-58d87114f28e.vsidx
C\#_Vitor/Console/.vs/Console/FileContentIndex/a2c80e09-a79f-4309-9594-de9187cb3b9c.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/f8306905-4f57-4fe7-b515-a485e222bd82.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/acb7b1ca-3dec-4a15-a9db-dfa8b0fa2398.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/46968ab1-8ee8-4032-b847-682056458c9e.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/0c5b56b0-7fbd-4219-b725-0a0cfa58392c.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/72e7044f-533b-4ed8-b9c3-52c58b76d5d9.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/425e234a-ff67-429c-b3a3-416942c70d04.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/7e202bf3-fdae-45eb-b8de-9429915de389.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/5db198d4-476a-4df0-9475-6a541a7a7912.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/cf27eb07-9073-47ec-9c09-3b75d3935430.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/2c67aacd-dc29-4184-951d-e727874c7bf2.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/c7e8391f-49f0-4f78-aa2a-42c0fadd9e34.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/5432fc18-8268-4e56-96e8-916da5b59de2.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/106e73ff-a90b-4af5-b405-dbee2c29d13d.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/2d373ae6-f030-47e3-ae5a-b1c4c0e2636c.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/be4a77bd-7a63-4e44-99d9-f58a49c41179.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/a26f8716-9a81-4367-b5df-dedd99589208.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/7b454cc2-c123-47fa-99d2-f6b29b54d433.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/14e07d63-5c6b-475f-ba05-851b57a593ba.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/6445fc1d-bc85-4c6d-b232-50fff719ce51.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/822e5ac7-c615-4e98-98f2-caec198b3533.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/07a67edc-5a29-4e33-9275-f00d431deb8d.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/b0a0d4e9-4077-461f-9e8a-6ddb1aab8784.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/e217c6f2-f7dc-42a7-a28b-f756489ff177.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/16461ce5-cbce-481c-8ba0-aace57d0a691.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/f4488b9f-9beb-40b8-9783-63744031e094.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/95f28d1b-5f7b-4eca-a394-d19bcb3445f3.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/1b505f5c-9f03-40d6-b0ff-9b3ed80c70fa.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/6700f7d3-3ced-45ce-bd43-765fdf0158cf.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/77e39a22-f22e-4186-95ca-2bf5a1b3fc5c.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/8fff1ab1-e2dd-45da-a498-c8096cf78d58.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/49bd1db6-6ead-4ba2-8d7a-7c874573ed00.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/589a86fe-14d8-4a25-b2ad-4877ddf75deb.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/2c9a7ad3-35c3-4176-b51c-9e7af9d1afe7.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/529218e8-c9c2-4382-a42c-478b3a998666.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/a8b1daa7-0091-4a19-be45-faf89cdeab51.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/bc87bfb1-f161-4f2c-bb9e-cfae2394ddb2.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/8967c54e-9059-448a-a855-96a33127947b.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/f1fe4790-a3f2-41c2-ab50-c3baa40e03d2.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/0665fdcc-dd51-4f93-892e-f01d1640ea62.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/cd2c9d92-aa26-4dc2-8225-de4811bc8f88.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/195c3c58-7dc3-4e30-8ea7-90c1b9561e54.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/19b3cc3c-1262-40c4-a007-1b6f6dccdb3b.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/a8fa7f20-de18-4f93-8abb-62791081e45f.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/3068935c-d207-4769-8bf9-ca76f3ede309.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/c9766230-1a40-4d36-a1cc-e2bfea8bc83f.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/25230e77-f792-4609-bd03-90d918f058d6.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/b2b528db-cd4f-4b71-b3d0-f76d3ed816cc.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/348dc314-76a1-4c23-ad56-75d6de7a3f67.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/03b25d00-4e7d-4c2b-9138-c0a50ee98d3b.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/15037a4d-0f9c-497b-8237-f9e3db2f1edb.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/d28267a3-1415-4323-a2eb-f1c72ca271cd.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/17ce23c2-23cf-443a-91be-d12cd50634b7.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/v17/.suo
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/9ee559c5-fc71-4e60-baf6-30a1ef2fbd71.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/92970d29-3253-4c9a-adf0-3504ba0936c7.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/6687cc57-46b8-41fc-9e6c-50db30481e59.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/ac5ed0dd-fb9a-4115-8ce6-d9621f7118d0.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/9ccb0566-ea0a-458b-b57d-d64ac4c9e341.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/a2e178bd-d418-47fe-b432-34f8a1132dbe.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/27b52946-2351-4326-b121-0c9b4412a932.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/1d41a39c-0ec7-455c-a152-5ab93bb9ae87.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/73fc7428-2eef-4f21-808c-a0fd30bd3b00.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/96f210e7-450d-497b-bdc4-8b07d99f3e57.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/688d55d9-fda7-4af3-b579-0da17f83d3e5.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/9297e94b-70a3-46af-84d5-1afa405f812e.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/654de814-7740-4d30-80ab-c4892bf633d7.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/8a6a9f18-f0b0-420c-8690-5a98fbbdb3a4.vsidx
C\#_Vitor/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/bcd7ac28-bb9a-4964-9657-ba1b1a5b4ee5.vsidx
